.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    z-index: 60;
    backdrop-filter: blur(8px);
}

.brand {
    color: #16DB65;
    font-weight: 700;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navlinks li {
    cursor: pointer;
    color: #ddd;
}

.navlinks li:hover {
    color: #16DB65
}